<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Cadastro de clientes
    </title>
</head>
<body>
<main>

<form method="post">
    {{form_template.csrf_token}}

    <div>
        <label>Nome: </label>
        {{form_template.nome}}
    </div>
    <div>
        <label>Email: </label>
        {{form_template.email}}
    </div>
    <div>
        <label>Data de Nascimento: </label>
        {{form_template.data_nascimento}}
    </div>
    <div>
        <label>Profissão: </label>
        {{form_template.profissao}}
    </div>


    <button class="btn btn-primary" type="submit">Cadastrar</button>

</form>
</main>

</body>
</html>
