{% extends "clientes/base.html" %}

{% block conteudo %}
{{super()}}
<form method="post">
    {{form_template.csrf_token}}

    <div class="form-group">
        <label>Nome: </label>
        {{form_template.nome(class='form-control')}}
    </div>
    <div class="form-group">
        <label>Email: </label>
        {{form_template.email(class='form-control')}}
    </div>
    <div class="form-group">
        <label>Data de Nascimento: </label>
        {{form_template.data_nascimento(class='form-control')}}
    </div>
    <div class="form-group">
        <label>Profissão: </label>
        {{form_template.profissao(class='form-control')}}
    </div>


    <button class="btn btn-primary" type="submit">Cadastrar</button>

</form>

{% endblock conteudo %}