{% extends "clientes/base.html" %}

{% from "macros/show_clientes_macro.html" import show_clientes %}

{% block conteudo %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Profissão</th>
        </tr>
    </thead>
    <tbody>
{% for i in clientes_template %}
    {{show_clientes(i)}}
{% endfor %}
    </tbody>

</table>

<a href="{{ url_for('cadastrar_cliente') }}"><button class="btn btn-primary">Cadastrar Cliente</button></a>

{% endblock conteudo %}