{% extends "clientes/base.html" %}

{% from "macros/show_clientes_macro.html" import show_clientes %}

{% block conteudo %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{_('Nome')}}</th>
            <th>{{_('Data de Nascimento')}}</th>
            <th>{{_('Profissão')}}</th>
        </tr>
    </thead>
    <tbody>
{% for i in clientes_template %}
    {{show_clientes(i)}}
{% endfor %}
    </tbody>

</table>

<a href="{{ url_for('cadastrar_cliente') }}"><button class="btn btn-primary">{{_('Cadastrar Cliente')}}</button></a>

{% endblock conteudo %}