<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Listagem de clientes
    </title>
</head>
<body>
<main>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Profissão</th>
        </tr>
    </thead>
    <tbody>
    {% for i in clientes_template %}
        <tr>
            {% if loop.first %}
                Primeira iteração
                Há {{loop.length}} clientes cadastrados
            {% elif loop.first == False  %}
            {# {% else  %} #}
                Não é a primeira iteração
            {% endif %}
            <td>{{loop.index0}}</td>
            <td>{{i.nome}}</td>
            <td>{{i.data_nascimento}}</td>
            <td>{{i.profissao}}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<a href="#"><button>Cadastrar Cliente</button></a>
</main>

</body>
</html>

