{% macro show_clientes(cliente) %}
        <tr>
            {#
            {% if loop.first %}
                Primeira iteração
                Há {{loop.length}} clientes cadastrados
            {% elif loop.first == False  %}
                Não é a primeira iteração
            {% endif %}

            <td>{{loop.index0}}</td>
            #}
            <td>{{cliente.nome|lower}}</td>
            <td>{{cliente.data_nascimento|format_date}}</td>
            <td>{{cliente.profissao|default('Profissão não cadastrada', true)}}</td>

        </tr>
{% endmacro %}